<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
</head>
<body>

<p><span th:text="${username}"></span>,你好:</p>

<p>&nbsp;&nbsp;&nbsp; 你在BIMRUN官方网站(<a href="http://www.bimrun.com">http://www.bimrun.com</a>)使用此邮箱注册账号成功，请登录访问。</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp; 此邮件为系统自动发出，请勿直接回复。</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp; 如果你并没有进行上述操作，或者有其他任何疑问，请发邮件至：bimrun@qq.com</p>

<p>&nbsp;&nbsp;&nbsp; 或联系客服QQ：1540159980</p>

<p>&nbsp;</p>

<p>&nbsp; &nbsp;<font face="宋体"><span style="font-size: 16px;">巨一科技</span></font></p>
</body>
</html>
